html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 32px;
  font-family: 'Honey Crepes';
}

@font-face {
  font-family: 'Honey Crepes';
  src: url('../../assets/fonts/Honey\ Crepes.ttf');
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  color: #fff200;
  text-shadow: 5px 5px 5px #1d0a32;
  background: linear-gradient(-5deg, rgb(214 0 201 / 80%), rgba(118, 0, 197, 0.8));
}
h1 {
  font-size: 2em;
  margin: 50px;
}
h2 {
    text-align: center;
}
p {
  text-shadow: none;
}
button {
  width: fit-content;
  min-width: 150px;
  padding: 15px 25px;
  background-color: #fff200;
  font-size: 0.7em;
  color: #1d0a32c7;
  border: none;
  box-shadow: 5px 5px 5px #1d0a3294;
  transition: all 0.2s ease-in-out;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

button:active {
  transform: scale(1);
  box-shadow: none;
}
button:disabled {
  box-shadow: none;
  background-color: #ffffff;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: none;
      cursor: default;
    }
  }
}
.main {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 50px;
}
.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 50px;
}
.error-message {
  color: #dfff00;
  text-shadow: none;
  word-break: break-all;
}
.wrapper {
    display: flex;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 50px;
  box-sizing: border-box;
}
.cards-wrapper__card, .card__specification {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 350px;
  background: linear-gradient(-5deg, rgba(214, 0, 201, 0.4), rgba(118, 0, 197, 0.4));
  border: 3px solid #dfff00;
  border-radius: 5px;
  word-break: break-all;
  transition: all 0.2s ease-in-out;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 5px 5px 5px #1d0a3294;

    }
  }
}
.card__specification {
    height: fit-content;
    min-width: 250px;
    position: relative;
    width: -webkit-fill-available;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: none;
          cursor: default;    
        }
      }
    
}
.specification__close {
    width: min-content;
    right: 20px;
    position: absolute;
    @media (hover: hover) and (pointer: fine) {
        &:hover {
          transform: scale(1.5);
          cursor: pointer;
    
        }
      }
    
}
.card__pokemon-name {
  margin-bottom: 15px;
}
.card__base-experience {
    text-align: center;
}
.card__image {
  aspect-ratio: 1;
  background: center / contain no-repeat;
}
.pagination-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.pagination-wrapper__page-number {
  display: flex;
  padding: 10px 50px;
  flex-direction: column;
  gap: 75px;
}
.page-404 {
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  gap: 50px;
}
.page-404__img {
  background: center / contain no-repeat url(../../assets/image/404.png);
  aspect-ratio: 1;
  flex: 1 1 400px;
}
.page-404__title,
.page-404__text {
  text-align: center;
}
@media screen and (max-width: 625px) {
    .wrapper {
        flex-flow: wrap-reverse;
    }
}